<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Payment Detail Register</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group py-3">
           <button class="btn btn-info btn-lg btn-block" type="button" (click)="resetDetailEntry()">New Payment</button>
        </div>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Card Owner</th>
                    <th>Card Number</th>
                    <th>Exp. Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let pd of service.list">
                    <th (click)="pupulatePaymentDetails(pd)">{{pd.cardOwnerName}}</th>
                    <th (click)="pupulatePaymentDetails(pd)">{{pd.cardNumber}}</th>
                    <th (click)="pupulatePaymentDetails(pd)">{{pd.expirationDate}}</th>
                    <th>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.paymentDetailId)"></i>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        
        <app-payment-details-form></app-payment-details-form>
    </div>
</div>
